/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@300&display=swap");

/* VARIABLES */
$primary-font: "Bangers", cursive;
$secondary-font: "Open Sans", sans-serif;
$primary-color: #e60000;
$secondary-color: #0d0d0d;
$date-color: #ffa500;
$comment-color: #00b3b3;
$gray-color: #969696;
$light-color: #f2f2f2;
$general-transition: all 0.4s;

/* UTILITIES */
.bg-dark {
  background-color: $secondary-color;
}

.bg {
  &-dark {
    background-color: $secondary-color;
  }
  &-light {
    background-color: $light-color;
  }
}

.ml {
  // ml-2
  &-2 {
    margin-left: 2rem;
  }
}

.mt {
  &-3 {
    margin-top: 3rem;
  }
}

.m {
  &-1 {
    margin: 1rem;
  }
}

.text-center {
  text-align: center;
}

/* MIXINS */

@mixin flex-display($display, $align-items, $justify-content) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin media($screen-size) {
  @if ($screen-size==extra-large) {
    @media (max-width: 1280px) {
      @content;
    }
  }

  @if ($screen-size==large) {
    @media (max-width: 992px) {
      @content;
    }
  }

  @if ($screen-size==medium) {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if ($screen-size==small) {
    @media (max-width: 576px) {
      @content;
    }
  }

  @if ($screen-size==extra-small) {
    @media (max-width: 426px) {
      @content;
    }
  }
}
